<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}][%class->%method#%line][%level][%X{X-B3-TraceId}]: %msg%n</pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>

    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/message.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>./logs/message.%d{yyyy-MM-dd}%i.log</fileNamePattern>
            <!-- 日志保存多久 -->
            <maxHistory>180</maxHistory>
            <!-- 日志文件最大多大 -->
            <maxFileSize>128mb</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}][%class->%method#%line][%level][%X{X-B3-TraceId}]: %msg%n</pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="console" />
        <appender-ref ref="rollingFile" />
    </root>
</configuration>